<h1>Listing Users</h1>

<table>
	<tr>
		<th>Email</th>
		<th>Last_sign_in_at</th>
    </tr>
	
	<% @users.each do |user| %>	
	<tr>
		<td><%= user.email %></td>
		<td><%= user.last_sign_in_at.to_formatted_s(:long) %></td>
        <td><%= link_to 'Edit', edit_user_registration_path %></td>
        
        
    </tr>
    <% end %>
</table>
